Repository wujekbogdan/map_of_science: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix", "prettier --write  --ignore-unknown"],
  "package.json": "prettier --write",
  "*.md": "prettier --write"
}

chore: add changelog
  .changeset/hungry-dots-roll.md
Due: prettier --write

chore: add changesets release github workflow
  .github/workflows/release.yml
  .github/workflows/webpack.yml
  README.md
Due: prettier --write

chore: add changelog
  .changeset/spotty-dolls-roll.md
Due: prettier --write

Release (#6)
  .changeset/spotty-dolls-roll.md
  .github/workflows/release.yml
  .github/workflows/webpack.yml
  README.md
Due: prettier --write

fix: add node version to .nvmrc
  .nvmrc
Due: none

chore: add changelog
  .changeset/tidy-timers-retire.md
Due: prettier --write

Fix/add missing `.nvmrc` content (#7)
  .changeset/tidy-timers-retire.md
  .nvmrc
Due: prettier --write

fix: disable git hooks during ci runs
  .github/workflows/release.yml
Due: none

Fix/add missing `.nvmrc` content (#7)
  .changeset/tidy-timers-retire.md
  .github/workflows/release.yml
  .nvmrc
Due: prettier --write

chore: remove temp code
  .github/workflows/release.yml
Due: none

fix: disable git hooks during ci runs (#8)
  .github/workflows/release.yml
Due: none

chore: add docker setup
  Dockerfile
  docker-compose.yml
  package-lock.json
  package.json
Due: prettier --write

chore: docker setup
  .changeset/sharp-roses-reply.md
  Dockerfile
  README.md
  docker-compose.yml
Due: prettier --write

chore: turn the release workflow into a manually triggered workflow
  .github/workflows/release.yml
Due: none

chore: add changelog
  .changeset/forty-months-occur.md
Due: prettier --write

Ci/Turn the Release GitHub Workflow into a manually triggered one (#12)
  .changeset/forty-months-occur.md
  .github/workflows/release.yml
Due: prettier --write

Feature/docker (#13)
  .changeset/sharp-roses-reply.md
  Dockerfile
  README.md
  docker-compose.yml
  package-lock.json
  package.json
Due: prettier --write

chore: remove a bunch of unused packages
  package-lock.json
  package.json
Due: prettier --write

chore: add changelog
  .changeset/afraid-geckos-happen.md
Due: prettier --write

Chore/remove unused dependencies (#14)
  .changeset/afraid-geckos-happen.md
  package-lock.json
  package.json
Due: prettier --write

chore: add vite/react/typescript and remove webpack
  .github/workflows/gh-pages-release.yml
  Dockerfile
  eslint.config.mjs
  package-lock.json
  package.json
  plugins/ArticleListGeneratorPlugin.js
  src/App.tsx
  src/index.html
  src/js/article.js
  src/js/main.js
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  webpack.config.js
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: changelog and readme update
  .changeset/stale-boxes-sit.md
  README.md
Due: prettier --write

Feature/react (#15)
  .changeset/stale-boxes-sit.md
  .github/workflows/gh-pages-release.yml
  Dockerfile
  README.md
  eslint.config.mjs
  package-lock.json
  package.json
  plugins/ArticleListGeneratorPlugin.js
  src/App.tsx
  src/index.html
  src/js/article.js
  src/js/main.js
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.app.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
  webpack.config.js
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

fix: restore article list generator feature
  .changeset/new-worms-punch.md
  src/App.tsx
  src/articles/fotonika.html
  src/js/article.js
  src/js/config.js
  src/js/labels.js
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

Fix/restore articles fetch (#17)
  .changeset/new-worms-punch.md
  src/App.tsx
  src/articles/fotonika.html
  src/js/article.js
  src/js/config.js
  src/js/labels.js
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: add markdown parser for articles
  package-lock.json
  package.json
  src/articles/fotonika.html
  src/articles/fotonika.md
  src/js/article.js
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: add changelog
  .changeset/rich-waves-design.md
Due: prettier --write

Feature/articles markdown (#19)
  .changeset/rich-waves-design.md
  package-lock.json
  package.json
  src/articles/fotonika.html
  src/articles/fotonika.md
  src/js/article.js
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: wip
  .gitignore
  asset/foreground_cp.svg
  package-lock.json
  package.json
  src/App.tsx
  src/Map.tsx
  src/client.d.ts
  src/dist/assets/index-DV5ASB0i.js
  src/dist/assets/valid-svg.test-LecLq7Iy.svg
  src/dist/index.html
  src/test/parser/__snapshots__/parser.test.ts.snap
  src/test/parser/parser.test.ts
  src/test/parser/valid-svg.test.svg
  src/vite-env.d.ts
  tsconfig.app.json
  tsconfig.node.json
  vite-plugin/client.d.ts
  vite-plugin/svg-map-parser.ts
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: re-create the source svg map in react
  .gitignore
  asset/foreground.svg
  asset/foreground_cp.svg
  package-lock.json
  src/App.tsx
  src/Map.tsx
  src/client.d.ts
  src/dist/assets/index-DV5ASB0i.js
  src/dist/assets/valid-svg.test-LecLq7Iy.svg
  src/dist/index.html
  src/js/labels.js
  src/test/parser/__snapshots__/parser.test.ts.snap
  src/test/parser/parser.test.ts
  src/test/parser/valid-svg.test.svg
  src/vite-env.d.ts
  tsconfig.app.json
  vite-plugin/svg-map-parser.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: add changelog
  .changeset/silver-maps-speak.md
  vite-plugin/client.d.ts
Due: prettier --write

chore: comment update
  src/vite-env.d.ts
Due: none

chore: remove fast-xml-parser
  package.json
Due: prettier --write

Feature/react-rendered map (#21)
  .changeset/silver-maps-speak.md
  package-lock.json
  package.json
  src/App.tsx
  src/Map.tsx
  src/js/labels.js
  src/test/parser/__snapshots__/parser.test.ts.snap
  src/test/parser/parser.test.ts
  src/test/parser/valid-svg.test.svg
  src/vite-env.d.ts
  tsconfig.app.json
  tsconfig.node.json
  vite-plugin/svg-map-parser.ts
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: changelog edits
  CHANGELOG.md
Due: prettier --write

Chore/changelog edits (#23)
  CHANGELOG.md
Due: prettier --write

chore: [wip] refactoring labels
  package-lock.json
  package.json
  src/App.tsx
  src/Map.tsx
  src/js/foreground.js
  src/js/labels.js
  src/vite-env.d.ts
  vite-plugin/svg-map-parser.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: [wip] refactoring labels
  asset/foreground.svg
  package-lock.json
  package.json
  src/App.tsx
  src/Map.tsx
  src/event-bus.ts
  src/js/foreground.js
  src/js/labels.js
  src/test/parser/valid-svg.test.svg
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write
