Repository wujekbogdan/map_of_science: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: [wip] refactoring labels
  src/Map.tsx
Due: none

chore: [wip] refactoring labels | add dev tools for label sizing
  package-lock.json
  package.json
  src/App.tsx
  src/Debug.tsx
  src/Map.tsx
  src/i18n.ts
  src/js/config.js
  src/store.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: [wip] refactoring labels | dev tool styling
  .env.example
  .gitignore
  src/App.tsx
  src/Debug.tsx
  src/DevTool.tsx
  src/Map.tsx
  src/config.ts
  src/store.ts
Due: none

chore: [wip] refactoring labels | debug config path update
  src/App.tsx
  src/config.ts
  src/i18n.ts
  vite.config.ts
Due: none

chore: labels refactor complete
  src/Map.tsx
  vite.config.ts
Due: none

chore: gitignore update
  .gitignore
Due: none

chore: cleanup and changelogs
  .changeset/fair-pandas-camp.md
  .changeset/honest-forks-cough.md
  .changeset/stupid-cameras-develop.md
  src/DevTool.tsx
  src/Map.tsx
  src/js/foreground.js
  src/test/parser/__snapshots__/parser.test.ts.snap
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

Feature/render labels with react (#24)
  .changeset/fair-pandas-camp.md
  .changeset/honest-forks-cough.md
  .changeset/stupid-cameras-develop.md
  .env.example
  .gitignore
  asset/foreground.svg
  package-lock.json
  package.json
  src/App.tsx
  src/DevTool.tsx
  src/Map.tsx
  src/config.ts
  src/event-bus.ts
  src/i18n.ts
  src/js/config.js
  src/js/foreground.js
  src/js/labels.js
  src/store.ts
  src/test/parser/__snapshots__/parser.test.ts.snap
  src/test/parser/valid-svg.test.svg
  src/vite-env.d.ts
  vite-plugin/svg-map-parser.ts
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: changelog update
  .changeset/young-pillows-laugh.md
Due: prettier --write

Chore/changelog (#25)
  .changeset/young-pillows-laugh.md
Due: prettier --write

chore: move path bounding box calculation to the base map model
  src/Map.tsx
  src/Search.tsx
  src/vite-env.d.ts
  vite-plugin/svg-map-parser.ts
Due: none

chore: [wip] labels search
  package-lock.json
  package.json
  src/App.tsx
  src/Map.tsx
  src/Search.tsx
  src/Search/Search.tsx
  src/Search/__snapshots__/search.spec.ts.snap
  src/Search/search.spec.ts
  src/Search/search.ts
  src/test/parser/__snapshots__/parser.test.ts.snap
  src/vite-env.d.ts
  tsconfig.app.json
  vite-plugin/svg-map-parser.ts
  vite.config.ts
Due: prettier --write

chore: [wip] add unstyled search form ui
  package-lock.json
  package.json
  src/App.tsx
  src/Search/Dropdown.tsx
  src/Search/Search.tsx
  src/Search/search.ts
Due: prettier --write

chore: [wip] use swr for fetching search results
  package-lock.json
  package.json
  src/Search/Search.tsx
  src/Search/search.ts
Due: prettier --write

chore: [wip] search form styling
  src/App.tsx
  src/Map.tsx
  src/Search/Dropdown.tsx
  src/Search/Search.tsx
  src/Search/search.ts
Due: none

chore: [wip] add boundingBox to search results
  src/Search/Dropdown.tsx
  src/Search/Search.tsx
  src/Search/__snapshots__/search.spec.ts.snap
  src/Search/search.spec.ts
  src/Search/search.ts
Due: none

chore: sync foreground.svg with the original repo
  asset/foreground.svg
Due: none

chore: sync assets/labels.tsv with the original repo | changelog update
  .changeset/hot-mangos-happen.md
  asset/labels.tsv
Due: prettier --write

chore: pan the map to search results
  package-lock.json
  package.json
  src/Search/Dropdown.tsx
  src/Search/Search.tsx
  src/js/chart.js
  src/js/foreground.js
  src/vite-env.d.ts
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: [wip] cleanup
  src/js/chart.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: [wip] panning and zooming
  src/js/chart.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: set desired zoom based on bounding box
  src/js/chart.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: cleanup
  src/js/chart.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: add zoom-in/zoom-out function
  src/Search/Search.tsx
  src/js/chart.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: add zoom controls ui
  src/App.tsx
  src/DevTool.tsx
  src/Header/Header.tsx
  src/Header/Search/Dropdown.tsx
  src/Header/Search/Search.tsx
  src/Header/Search/__snapshots__/search.spec.ts.snap
  src/Header/Search/search.spec.ts
  src/Header/Search/search.ts
  src/Header/ZoomControls/ZoomControls.tsx
  src/store.ts
Due: none

chore: remove the temp vite-plugin-svgr plugin
  package.json
  vite.config.ts
Due: prettier --write

chore: cleanup
  src/vite-env.d.ts
Due: none

chore: changelog update
  .changeset/quiet-dolphins-enjoy.md
Due: prettier --write

chore: make dev tool collapsed by default
  src/DevTool.tsx
Due: none

chore: set vite base URL based on environment variable
  vite.config.ts
Due: none

Feature/search (#27)
  .changeset/hot-mangos-happen.md
  .changeset/quiet-dolphins-enjoy.md
  asset/foreground.svg
  asset/labels.tsv
  package-lock.json
  package.json
  src/App.tsx
  src/DevTool.tsx
  src/Header/Header.tsx
  src/Header/Search/Dropdown.tsx
  src/Header/Search/Search.tsx
  src/Header/Search/__snapshots__/search.spec.ts.snap
  src/Header/Search/search.spec.ts
  src/Header/Search/search.ts
  src/Header/ZoomControls/ZoomControls.tsx
  src/Map.tsx
  src/js/chart.js
  src/js/foreground.js
  src/store.ts
  src/test/parser/__snapshots__/parser.test.ts.snap
  src/vite-env.d.ts
  tsconfig.app.json
  vite-plugin/svg-map-parser.ts
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

fix: package-lock update
  package-lock.json
Due: none

chore: add gh-pages-release manual trigger
  .github/workflows/gh-pages-release.yml
Due: none

chore: add a missing vite-plugin-comlink dependency
  .changeset/nine-parents-listen.md
  package-lock.json
  package.json
Due: prettier --write

Fix/add missing dependency (#29)
  .changeset/nine-parents-listen.md
  .github/workflows/gh-pages-release.yml
  package-lock.json
  package.json
Due: prettier --write

chore: deploy to gh pages
  assets/index-gcq84sGt.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

style: manual changelog edits
  .env.production
  CHANGELOG.md
Due: prettier --write

fix: disable search auto focus
  src/Header/Search/Dropdown.tsx
Due: none

chore: changelog update
  .changeset/forty-readers-promise.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write --ignore-unknown: any of: *.{js,jsx}
  prettier --write: (any of: package.json) or (any of: *.md)
