Repository wujekbogdan/map_of_science: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: changelog update
  .changeset/rotten-owls-burn.md
Due: prettier --write

fix: shared worker to regular worker
  src/api/worker.ts
Due: none

chore: render data points with react
  src/App.tsx
  src/Map.tsx
  src/event-bus.ts
  src/js/foreground.js
  src/js/points.js
  src/schema/index.ts
  src/store.ts
Due: eslint --fix, prettier --write --ignore-unknown

feat: strongly typed csv parsing (#52)
  .changeset/lucky-kings-mix.md
  src/csv/collector.spec.ts
  src/csv/collector.ts
  src/csv/csv.spec.ts
  src/csv/parse.ts
  src/js/main.js
  src/js/points.js
  src/points.ts
  src/schema/__test__/data.tsv
  src/schema/__test__/keys.tsv
  src/schema/__test__/labels.tsv
  src/schema/index.ts
  src/schema/schema.spec.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

fix(zoom): the cities svg resized correctly when window resized (#53)
  .changeset/spotty-beers-fold.md
  src/Map.tsx
  src/js/chart.js
  src/js/map-of-science.js
  src/js/zoom.js
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

fix: scale data point shapes based on zoom level
  src/Map.tsx
Due: none

chore: reimplement zooming: drop chart.js, zoom.js and foreground.js dependency
  asset/foreground.svg
  src/App.tsx
  src/Header/Search/Search.tsx
  src/Header/ZoomControls/ZoomControls.tsx
  src/Map.tsx
  src/css/chart.css
  src/js/chart.js
  src/js/config.js
  src/js/foreground.js
  src/js/main.js
  src/js/map-of-science.js
  src/js/points.js
  src/js/zoom.js
  src/main.tsx
  src/useLayersOpacity.ts
  src/withSize.tsx
Due: eslint --fix, prettier --write --ignore-unknown

chore: move d3-related init code to a hook
  src/Map.tsx
  src/useD3Zoom.ts
Due: none

chore: restore zoom controls functionality
  src/Header/ZoomControls/ZoomControls.tsx
  src/Map.tsx
  src/store.ts
  src/useD3Zoom.ts
Due: none

chore: restore search form zooming functionality
  src/App.tsx
  src/Header/Search/Search.tsx
  src/store.ts
  src/useWindowSize.ts
  src/withSize.tsx
Due: none

chore: minor optimizations
  src/App.tsx
  src/DevTool.tsx
Due: none

feat: make data points limit configurable via dev tools
  src/DevTool.tsx
  src/Map.tsx
  src/store.ts
  src/useWindowSize.ts
Due: none

chore: restore data point tooltip
  package-lock.json
  package.json
  src/DataPoint.tsx
  src/DataPointDetails.tsx
  src/Map.tsx
  src/useWindowSize.ts
Due: prettier --write

chore: remove legacy css/js
  src/css/annotation.css
  src/css/common.css
  src/css/labels.css
  src/css/loading.css
  src/js/annotation.js
  src/js/labels.js
  src/js/main.js
  src/js/points.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: package.json cleanup | apply css reset
  package-lock.json
  package.json
  src/DevTool.tsx
  src/Map.tsx
  src/css/global.css
  src/main.tsx
Due: prettier --write

chore: restore local articles modal functionality
  package-lock.json
  package.json
  src/App.tsx
  src/Article/ArticleModal.tsx
  src/Article/LocalArticle.tsx
  src/Header/ZoomControls/ZoomControls.tsx
  src/Map.tsx
  src/js/article.js
  src/store.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: restore iframe articles functionality
  src/App.tsx
  src/Article/Article.tsx
  src/Article/ArticleModal.tsx
  src/Article/IframeArticle.tsx
  src/DataPoint.tsx
  src/Map.tsx
  src/css/article.css
  src/css/content.css
  src/js/article.js
  src/js/main.js
  src/js/points.js
  src/store.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: restore foreground.svg
  asset/foreground.svg
Due: none

chore: changelog update
  .changeset/selfish-mayflies-clean.md
  .changeset/sharp-swans-pay.md
  .changeset/tame-waves-beg.md
Due: prettier --write

Strongly typed CSV parsing (#37)
  .changeset/lucky-kings-mix.md
  src/csv/collector.spec.ts
  src/csv/collector.ts
  src/csv/csv.spec.ts
  src/csv/parse.ts
  src/js/main.js
  src/js/points.js
  src/points.ts
  src/schema/__test__/data.tsv
  src/schema/__test__/keys.tsv
  src/schema/__test__/labels.tsv
  src/schema/index.ts
  src/schema/schema.spec.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

deploy: 2a74b69571ce81abe60f3acc573d502972459280
  assets/index-C7qtx3Ag.js
  assets/index-zfoiYubx.js
  assets/streaming-tsv-parser-CQ82pDRT.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

CSV parsing with Web Workers (#38)
  .changeset/rotten-owls-burn.md
  .changeset/spotty-beers-fold.md
  .github/workflows/dev-release.yml
  src/Map.tsx
  src/api/index.ts
  src/api/worker.ts
  src/js/chart.js
  src/js/map-of-science.js
  src/js/points.js
  src/js/zoom.js
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

deploy: b60bc77c458fbc02fefd930b7f97482fff4db6b7
  assets/index-CExfJtup.js
  assets/index-DCZXRWyZ.js
  assets/index-zfoiYubx.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

Render data points with react (#36)
  .changeset/selfish-mayflies-clean.md
  .changeset/sharp-swans-pay.md
  .changeset/tame-waves-beg.md
  package-lock.json
  package.json
  src/App.tsx
  src/Article/Article.tsx
  src/Article/ArticleModal.tsx
  src/Article/IframeArticle.tsx
  src/Article/LocalArticle.tsx
  src/DataPoint.tsx
  src/DataPointDetails.tsx
  src/DevTool.tsx
  src/Header/Search/Search.tsx
  src/Header/ZoomControls/ZoomControls.tsx
  src/Map.tsx
  src/css/annotation.css
  src/css/article.css
  src/css/chart.css
  src/css/common.css
  src/css/content.css
  src/css/global.css
  src/css/labels.css
  src/css/loading.css
  src/event-bus.ts
  src/js/annotation.js
  src/js/article.js
  src/js/chart.js
  src/js/config.js
  src/js/foreground.js
  src/js/labels.js
  src/js/main.js
  src/js/points.js
  src/js/zoom.js
  src/main.tsx
  src/schema/index.ts
  src/store.ts
  src/useD3Zoom.ts
  src/useLayersOpacity.ts
  src/useWindowSize.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

fix: restore the isArticleAvailable() function
  src/js/article.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: changelog update
  .changeset/funny-vans-poke.md
Due: prettier --write

fix: restore the `isArticleAvailable()` function (#41)
  .changeset/funny-vans-poke.md
  src/js/article.js
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

deploy: 6054aace1f425191bf33ef43bc40e28ab0836ac0
  assets/index-C1o_8n3u.css
  assets/index-CQh75dn-.js
  assets/index-CkpflVQD.js
  assets/index-DCZXRWyZ.js
  assets/index-DT0XZCDY.css
  assets/marked.esm-af6E61oe.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

fix: articles close button and zoom controls button styling
  .changeset/calm-pets-reply.md
  src/Article/ArticleModal.tsx
  src/Article/LocalArticle.tsx
  src/Header/ZoomControls/ZoomControls.tsx
Due: prettier --write

fix: articles close button and zoom controls button styling (#42)
  .changeset/calm-pets-reply.md
  src/Article/ArticleModal.tsx
  src/Article/LocalArticle.tsx
  src/Header/ZoomControls/ZoomControls.tsx
Due: prettier --write

deploy: 820bd2bd237df39d41f6e7bc3ab1ed8cce836fbb
  assets/index-BpyKXqYx.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

chore: changelog
  .changeset/wild-panthers-rest.md
  .github/workflows/ci.yml
Due: prettier --write

fix: update unit test svg fixture
  src/test/parser/valid-svg.test.svg
Due: none

chore: set ci workflow concurency
  .github/workflows/ci.yml
Due: none

feat: ci (#44)
  .changeset/wild-panthers-rest.md
  .github/workflows/ci.yml
  src/test/parser/valid-svg.test.svg
Due: prettier --write

chore: bump vite to 3.1.3
  package-lock.json
  package.json
Due: prettier --write

chore: bump vite and @vitejs/plugin-react-swc
  .changeset/mean-jeans-act.md
  .changeset/ninety-clouds-wave.md
  .changeset/quiet-carpets-clean.md
  package-lock.json
  package.json
Due: prettier --write

Fix/bump `vite` and `vitest` (#45)
  .changeset/mean-jeans-act.md
  .changeset/ninety-clouds-wave.md
  .changeset/quiet-carpets-clean.md
  package-lock.json
  package.json
Due: prettier --write

deploy: 11abdc2f610ca757b2ddad6ab638866198e5f83c
  assets/index-BpyKXqYx.js
  assets/index-CIlVsC8v.js
  assets/index-CQh75dn-.js
  assets/index-DFv17Z6W.js
  assets/marked.esm-Cw3B86Kh.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

chore: install the `@trivago/prettier-plugin-sort-imports` plugin and format all affected files
  .changeset/fast-trees-drive.md
  .changeset/sweet-news-burn.md
  .lintstagedrc.json
  .prettierrc
  .prettierrc.json
  package-lock.json
  package.json
  src/App.tsx
  src/Article/Article.tsx
  src/Article/ArticleModal.tsx
  src/Article/IframeArticle.tsx
  src/DataPoint.tsx
  src/DevTool.tsx
  src/Header/Search/Dropdown.tsx
  src/Header/Search/Search.tsx
  src/Header/ZoomControls/ZoomControls.tsx
  src/Map.tsx
  src/api/index.ts
  src/css/global.css
  src/csv/csv.spec.ts
  src/event-bus.ts
  src/js/points.js
  src/main.tsx
  src/points.ts
  src/schema/schema.spec.ts
  src/store.ts
  src/test/parser/parser.test.ts
  src/useD3Zoom.ts
  src/useWindowSize.ts
  tsconfig.app.json
  vite-plugin/svg-map-parser.ts
  vite.config.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

Path conditions:
  eslint --fix: any of: *.{js,jsx}
  prettier --write --ignore-unknown: any of: *.{js,jsx}
  prettier --write: (any of: package.json) or (any of: *.md)
