Repository wujekbogdan/map_of_science: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write --ignore-unknown, prettier --write

.lintstagedrc.json:

{
  "*.{js,jsx}": ["eslint --fix", "prettier --write  --ignore-unknown"],
  "package.json": "prettier --write",
  "*.md": "prettier --write"
}

chore: remove .env.production from the repo | update .env.example
  .env.example
  .env.production
Due: none

Fix/disable search auto focus (#30)
  .changeset/forty-readers-promise.md
  .env.example
  CHANGELOG.md
  src/Header/Search/Dropdown.tsx
Due: prettier --write

chore: gitub pages deployment
  assets/index-CNmZfYVN.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

chore: update loading spinner
  src/App.tsx
Due: none

chore: update svg-map-parser validation to prevent if from failing when it encounters the 4th layer
  vite-plugin/svg-map-parser.ts
Due: none

chore: [wip] re-implement layer 4 labels rendering
  src/App.tsx
  src/Map.tsx
  src/event-bus.ts
  src/js/foreground.js
  src/js/points.js
Due: eslint --fix, prettier --write --ignore-unknown

chore: port labels layer 4 to react | update fotonika.md
  src/DevTool.tsx
  src/Map.tsx
  src/articles/fotonika.md
  src/store.ts
Due: prettier --write

chore: cleanup
  .env
Due: none

chore: changelog update
  .changeset/dull-coats-compare.md
Due: prettier --write

Port Layer 4 labels to React (#31)
  .changeset/dull-coats-compare.md
  asset/foreground.svg
  src/App.tsx
  src/DevTool.tsx
  src/Map.tsx
  src/articles/fotonika.md
  src/css/article.css
  src/css/labels.css
  src/css/loading.css
  src/event-bus.ts
  src/js/config.js
  src/js/foreground.js
  src/js/main.js
  src/js/points.js
  src/store.ts
  vite-plugin/svg-map-parser.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

deploy: 5eff12f58ca5cefd0e5f955efdfcda821d5ce88a
  .idea/.gitignore
  assets/foreground-TaIwkw7W.svg
  assets/fotonika-BC4waPA1.js
  assets/fotonika-BN3r_33P.js
  assets/index-CNmZfYVN.js
  assets/index-DroWnx1a.js
  assets/index-DxHtBXO4.css
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

chore: set vite base url default to /map_of_science/
  vite.config.ts
Due: none

Chore/set vite base url default (#33)
  vite.config.ts
Due: none

deploy: 59270d00fa3572e494b7766aac5416f04087bb13
  assets/index-T3luvVon.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

fix: fix a bug causing VITE_BASE_URL resolves as undedined in vite.config.ts
  src/App.tsx
  src/Map.tsx
  src/css/chart.css
  src/css/common.css
  vite.config.ts
Due: none

fix: register labels click only if a label has a corresponding article
  src/Map.tsx
Due: none

chore: changelog update
  .changeset/small-bulldogs-judge.md
  .changeset/wicked-dingos-dance.md
Due: prettier --write

Restore articles click handler | fix vite config env variables handling (#34)
  .changeset/small-bulldogs-judge.md
  .changeset/wicked-dingos-dance.md
  src/App.tsx
  src/Map.tsx
  src/css/chart.css
  src/css/common.css
  vite.config.ts
Due: prettier --write

deploy: 91bb5f05ea4da9ebbebca7f208a3b209431c9087
  assets/index-DT0XZCDY.css
  assets/index-T3luvVon.js
  assets/index-iIsrkbqS.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

fix: make /map_of_science/ the default base path
  vite.config.ts
Due: none

deploy: d7ad5b8ed0041c0049fe7b050e460a373f19c28b
  assets/index-C7qtx3Ag.js
  index.html
Due: eslint --fix, prettier --write --ignore-unknown

chore: add a generic type-safe csv parser
  package-lock.json
  package.json
  src/csv/csv.spec.ts
  src/csv/parse.ts
  src/test-utils/request-interception.ts
Due: prettier --write

chore: changelog update
  .changeset/itchy-camels-tie.md
Due: prettier --write

chore: use csv-parse parser
  package-lock.json
  package.json
  src/csv/parse.ts
  src/js/points.js
  src/js/streaming-tsv-parser.js
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: changelog update
  .changeset/itchy-camels-tie.md
  .changeset/ten-geese-visit.md
  src/js/points.js
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

Chore/csv parser refactor (#35)
  .changeset/ten-geese-visit.md
  package-lock.json
  package.json
  src/csv/csv.spec.ts
  src/csv/parse.ts
  src/js/points.js
  src/js/streaming-tsv-parser.js
  src/test-utils/request-interception.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

ci(workflow): deployment of dev branch
  .github/workflows/dev-release.yml
Due: none

ci(workflows): fix dev deployment
  .github/workflows/dev-release.yml
Due: none

chore: wip
  src/csv/clusters.ts
  src/csv/csv.spec.ts
  src/csv/parse.ts
Due: none

chore: define tsv schemas
  src/csv/clusters.ts
  src/schema/__test__/data.tsv
  src/schema/__test__/keys.tsv
  src/schema/__test__/labels.tsv
  src/schema/index.ts
  src/schema/schema.spec.ts
Due: none

chore: wip
  src/csv/csv.spec.ts
  src/csv/parse.ts
  src/schema/schema.spec.ts
Due: none

chore: parseFromUrlWithSchema refactor
  src/csv/csv.spec.ts
  src/csv/parse.ts
Due: none

chore: schema tests fix
  src/csv/parse.ts
  src/schema/schema.spec.ts
Due: none

chore: simplify mapCollector
  src/csv/csv.spec.ts
  src/csv/parse.ts
Due: none

chore: mapCollector - add indexBy named param
  src/csv/csv.spec.ts
  src/csv/parse.ts
Due: none

chore: wip
  src/App.tsx
  src/csv/csv.spec.ts
  src/csv/parse.ts
  src/js/main.js
  src/js/points.js
  src/points.ts
  src/schema/index.ts
  src/schema/schema.spec.ts
Due: eslint --fix, prettier --write --ignore-unknown

chore: refactor points.js to use ponts.ts
  src/csv/collector.spec.ts
  src/csv/collector.ts
  src/csv/csv.spec.ts
  src/csv/parse.ts
  src/js/main.js
  src/js/points.js
  src/points.ts
  src/schema/schema.spec.ts
Due: eslint --fix, prettier --write --ignore-unknown

ci(dev-release): set VITE_BASE_URL
  .github/workflows/dev-release.yml
Due: none

chore: add changelog | fix tooltips
  .changeset/lucky-kings-mix.md
  src/App.tsx
  src/js/points.js
  src/points.ts
Due: eslint --fix, prettier --write --ignore-unknown, prettier --write

chore: bring back csv parsing with Web Workers
  src/api/index.ts
  src/api/worker.ts
  src/js/points.js
Due: eslint --fix, prettier --write --ignore-unknown
